@page
@model NET_Lab4.Pages.Games.CreateModel

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Game</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Game.Tytuł" class="control-label"></label>
                <input asp-for="Game.Tytuł" class="form-control" />
                <span asp-validation-for="Game.Tytuł" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Game.DataWydania" class="control-label"></label>
                <input asp-for="Game.DataWydania" class="form-control" />
                <span asp-validation-for="Game.DataWydania" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Game.Gatunek" class="control-label"></label>
                <input asp-for="Game.Gatunek" class="form-control" />
                <span asp-validation-for="Game.Gatunek" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Game.Platforma" class="control-label"></label>
                <input asp-for="Game.Platforma" class="form-control" />
                <span asp-validation-for="Game.Platforma" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Game.Cena" class="control-label"></label>
                <input asp-for="Game.Cena" class="form-control" />
                <span asp-validation-for="Game.Cena" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
